@import '../../styles/styles.scss';

.ForgotPasswordView {
  @extend .contentView;

  height: 100%;
  text-align: center;
}

.containerElement {
  margin-top: 17.6px;
}

.inputText {
  width: 40%;
  height: 42px;
  margin-bottom: 10px;
  padding-left: 12.2px;
}

.primaryButton {
  width: 40%;
  height: 42px;
  background-color: #2b2c35;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #f4f4f4;
  border: 0;
}
